# macOS artifacts
.DS_Store

# .NET Core artifacts
bin/
obj/

# Editor specific files
.vscode/

# Private server config files
.config/

# Node.js modules folder
node_modules/

# Next.js specific files
.next/
.env*.local
